<mat-card>
 <mat-card-title>Add Details</mat-card-title>
  <form fxLayout="column" [formGroup]="policyForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        placeholder="Start Date"
        id="startDate"
        formControlName="startDate"
        [matDatepicker]="startDatepicker">
      <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Driver Name"
        id="name"
        formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Occupation</mat-label>
      <mat-select (change)="selectChangeHandler($event)" id="occupation" formControlName="occupation">
        <mat-option *ngFor="let occupation of occupations" [value]="occupation.value">
          {{occupation.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Date of Birth"
        id="birthDate"
        formControlName="birthDate"
        [matDatepicker]="dobDatepicker">
      <mat-datepicker-toggle matSuffix [for]="dobDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #dobDatepicker></mat-datepicker>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end end">
      <button type="reset" mat-button class="white-text">Clear</button>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
  </form>
</mat-card>
