<div fxLayout="row" fxFlexFill fxLayoutAlign="start stretch">
  <div fxFlex="15">
    <app-side-menu></app-side-menu>
  </div>
  <div fxLayout="column" fxFlex class="content-container">
    <span fxLayoutAlign="start center" class="page-header">{{currentRoute}}</span>
    <div class="content-style">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
