.page-header {
  background-color: steelblue;
  color: whitesmoke;
  padding: 20px;
  text-transform: capitalize;
}
.content-container {
  background-color: lightgray;
}
.content-style {
  padding: 10px;
  overflow: auto;
}
