.premium {
  color: gold;
  font-size: 30px;
  text-transform: capitalize;
}
.quoteAmount {
  font-size: 45px;
  color: steelblue;
  font-weight: lighter;
  text-align: center;
}

.value {
  color: green;
  font-size: 30px;
  text-transform: capitalize;
}

.policyTypeContainer {
  padding: 20px;
  border: #999999 1px solid;
  border-radius: 10px;
}
.text-item {
  font-weight: lighter;
}
