<mat-card fxLayout="row"  *ngIf="policyService.getPremiumAmount() > 0">
  <div fxFlex="80">
  <h3>Quote Details</h3>
    <h4>Policy Start Date:</h4>
    <p>{{policyService.getPolicyStart() | date}}</p>
  <div fxLayout="column">
   <div fxLayoutGap="5px" fxLayout="column">
      <h4>Named Drivers</h4>
        <span class="text-item">
          Driver Name: <b>{{policyService.getDriverName()}}</b>
        </span>
     <span class="text-item">
       Occupation: <b>{{policyService.getDriverOccupation()}}</b>
        </span>
     <span class="text-item">
       Date Of Birth: <b>{{policyService.getDriverBirthDate() | date}}</b>
      </span>
     </div>
  </div>
  </div>
  <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
      <div class="policyTypeContainer"  fxLayoutAlign="center center">
        <img width="100" alt="cover-type" src="../../../assets/car2.png">
        <span class="{{policyType}}">
          {{policyType}}
        </span>
      </div>
        <h4>Insurance Premium Quote</h4>
      <span class="quoteAmount">£{{policyService.getPremiumAmount()}}</span>
  </div>
</mat-card>
