<div fxLayout="column" class="menu-container">
  <div fxLayout="column" fxFlex fxLayoutAlign="start none">


    <div fxLayoutAlign="row">
      <img fxFlexAlign="center" width="60" height="60" src="../../assets/logo.jpg">
      <h1>{{title}}</h1>
    </div>

    <mat-divider></mat-divider>
    <h2>Quick Links</h2>
    <button fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start" routerLink="{{item.Url}}" mat-button class="menu-item" *ngFor="let item of menuItems">
      <mat-icon>{{item.Icon}}</mat-icon>
      <span> {{item.Name}}</span>
    </button>
  </div>
  <div fxFlex fxLayoutAlign="end end">
    <p style="color: #555555; font-size: 10px"> © Applied Systems, 2019</p>
  </div>
</div>
