.menu-container {
  background-color: #333333;
  color: white;
  height: 100%;
  padding: 10px;
  border-right: #222222 2px solid;
}

.icon-style {
  color: darkseagreen;
  font-size: 25px;
  padding: 10px;
}

h1 {
  padding: 10px;
  vertical-align: center;
  color: whitesmoke;
  font-size: 30px;
  font-weight: lighter;
  text-transform: uppercase;
}
h2 {
  color: #555555;
  font-size: 14px;
  text-transform: uppercase;
}
h3 {
  color: #999999;
  font-size: 13px;
  font-weight: lighter;
}
.menu-item {
  font-size: 13px;
  color: white;
  padding: 10px;
  vertical-align: center;
}

